#gridContainer{
    display: flex;
    flex-wrap: wrap;
    width: 32em;
}

.gridItem{
    background-color: #00ffff;
    height: 2em;
    width: 2em;
}

.hoveredItem{
  background-color: #00ffff52;
}