#gridContainer{
    display: flex;
    flex-wrap: wrap;
    width: 32em;
}

#newGrid{
    padding: 0.5em;
    margin: 1em;
    background-color: darkgray;
}

.gridItem{
    background-color: #00ffff;
    height: 2em;
    width: 2em;
}

.hoveredItem{
  background-color: #00ffff52;
}