body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(217, 252, 252);
}

main{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5em;
}

#gridContainer{
    display: flex;
    flex-wrap: wrap;
    width: 32em;
    border: 2px solid red;
}

#buttonSet{
    background-color: gray;
    flex: 0 1 10em;
    height: 15em;
    align-self: center;
}

#newGrid{
    padding: 0.5em;
    margin: 1em;
    background-color: darkgray;
}

.gridItem{
    background-color: rgb(255, 255, 255);
    height: 2em;
    width: 2em;
}

.hoveredItem{
    /*background-color: rgb(255, 255, 255);*/
    background-color: aqua;
}